* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: ghostwhite;
<<<<<<< HEAD
}

.uploader-page {
  width: 100%;
=======
  height: 100vh;
}

#uploader-page {
  width: 100%;
  height: 100%;
>>>>>>> e6a75a2e2d3d167d5524804ee0236afa96df6502
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/cool-background.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#upload-form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0;
}

.uploading-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
<<<<<<< HEAD
  margin: 1.5rem 1rem;
=======
  gap: 10px;
>>>>>>> e6a75a2e2d3d167d5524804ee0236afa96df6502
}

.intro-section {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
<<<<<<< HEAD
  margin: 0 1rem;
  text-align: center;
  gap: 0.5rem;
}

.intro-animation{
  max-width: 500px;
=======
>>>>>>> e6a75a2e2d3d167d5524804ee0236afa96df6502
}

.resume-input[type="file"] {
  position: relative;
  border-radius: 4px;
}

.resume-input[type="file"]::file-selector-button {
  width: 136px;
  height: 40px;
  padding: 0 16px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  color: transparent;
  border-radius: inherit;
  transition: background-color 200ms;
}
<<<<<<< HEAD
=======

.resume-input[type="file"]::file-selector-button:hover {
  background-color: #f3f4f6;
}

.resume-input[type="file"]::file-selector-button:active {
  background-color: #e5e7eb;
}

>>>>>>> e6a75a2e2d3d167d5524804ee0236afa96df6502
.resume-input[type="file"]::before {
  position: absolute;
  top: 10px;
  left: 16px;
  height: 20px;
  width: 20px;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
}

.resume-input[type="file"]::after {
  position: absolute;
  top: 11px;
  left: 40px;
  color: #0964b0;
  content: "Upload File";
}

.resume-uploader {
  padding: 20px;
  border: 2px dashed black;
  border-radius: 39px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
  background: #ffffff;
}

.db-btn {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  cursor: pointer;
}

<<<<<<< HEAD
.description{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description>h2{
  text-align: center;
}

.description-input {
  width: 295px;
=======
.description-input {
  width: 100%;
>>>>>>> e6a75a2e2d3d167d5524804ee0236afa96df6502
  height: 200px;
  padding: 20px;
  margin: 1rem 0;
  border: none;
  border-radius: 37px;
  background: #ffffff;
  box-shadow:  3px 3px 15px #9e9e9e,
             -3px -3px 15px #ffffff;
  scrollbar-width: none;
  outline: none;
}

.loader-page {
  width: 100%;
  height: 85dvh;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

<<<<<<< HEAD
.loader-report{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

=======
>>>>>>> e6a75a2e2d3d167d5524804ee0236afa96df6502
.prompt-result {
  text-align: center;
}

.btn {
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  background-color: #1453A1;
  color: #fff;
}

a {
  text-decoration: none;
  color: #000;
}

.alert-box {
  position: fixed;
  top: 15%;
  left: 10px;
  transition: all 1s ease-in-out;
  z-index: 20;
}

<<<<<<< HEAD
=======
#bounce-in-top {
  -webkit-animation: bounce-in-top 1.1s both;
  animation: bounce-in-top 1.1s both;
}

>>>>>>> e6a75a2e2d3d167d5524804ee0236afa96df6502
.recent-data-section{
  display: flex;
  align-items: center;
  gap: 1rem;
<<<<<<< HEAD
  margin: 1rem;
=======
>>>>>>> e6a75a2e2d3d167d5524804ee0236afa96df6502
}

.recent-data-section>input{
  padding: 20px;
}

<<<<<<< HEAD
#dark-body{
  background-color: #111010;
  color: #ffffff;
}

#dark-uploader-page{
  background-image: url(../assets/cool-background-dark.svg);
}

#dark-resume-uploader,
#dark-description-input{
  background: rgba( 255, 255, 255, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 7px );
  -webkit-backdrop-filter: blur( 7px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  color: #ffffff;
  border-radius: 10px;
}
#dark-intro-section{
  color: #fff;
=======
@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }

  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }

  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
>>>>>>> e6a75a2e2d3d167d5524804ee0236afa96df6502
}

@media screen and (max-width: 900px) {
  .intro-section {
    font-size: 0.8rem;
<<<<<<< HEAD
    color: #000;
  }
  #upload-form {
    height: 100%;
    flex-direction: column;
    font-size: 0.8rem;
    gap: 2rem;
    padding: 2rem 1rem;
  }
  .description>h2{
    color: #fff;
=======
>>>>>>> e6a75a2e2d3d167d5524804ee0236afa96df6502
  }
}

@media screen and (max-width: 670px) {
<<<<<<< HEAD
=======
  #upload-form {
    height: 100%;
    flex-direction: column-reverse;
    font-size: 0.8rem;
    gap: 2rem;
    padding: 2rem 1rem;
  }
  .intro-animation{
    display: none;
  }
>>>>>>> e6a75a2e2d3d167d5524804ee0236afa96df6502
  .alert-box{
    font-size: 0.8rem;
  }
}

<<<<<<< HEAD
@media screen and (min-height: 1000px) {
  #upload-form{
    flex-direction: column;
=======
@media screen and (min-height: 650px) {
  #upload-form{
    flex-direction: column-reverse;
>>>>>>> e6a75a2e2d3d167d5524804ee0236afa96df6502
    height: 100%;
    padding: 30px;
  }
  body{
    width: 100%;
    font-size: 1.3rem;
  }
<<<<<<< HEAD
}
=======
}
>>>>>>> e6a75a2e2d3d167d5524804ee0236afa96df6502
