.report-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 30px;
}

.report-sections {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem 1rem;
}

.checklist-img {
    width: 1.25rem;
}

.total-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 5px solid #297ec4;
    border-radius: 50%;
    transition: border-color 0.5s ease, border-width 0.5s ease;
}

.progress-circle {
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: conic-gradient(#4caf50 calc(var(--progress, 0) * 1%),
            #d3d3d3 calc(var(--progress, 0) * 1%));
    position: relative;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.overall-report {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.checklist {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem 1.5rem;
    padding: 0.75rem;
    border-radius: 33px;
    background: #ffffff;
    box-shadow: 5px 5px 20px #d9d9d9,
        -5px -5px 20px #ffffff;
}

.checklist>div>div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.other-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.readability {
    background-color: #185519;
    color: #F3F7EC;
    padding: 0.75rem;
    border-radius: 0.5rem;
    border-radius: 33px;
    box-shadow: 5px 5px 20px #aaa9a9,
        -5px -5px 20px #c9c8c8;
}

.estimated-time {
    background-color: #FD8D14;
    color: #F3F7EC;
    padding: 0.75rem;
    border-radius: 0.5rem;
    border-radius: 33px;
    box-shadow: 5px 5px 20px #aaa9a9,
        -5px -5px 20px #c9c8c8;
}

.action-verb {
    background-color: #A02334;
    color: #F3F7EC;
    padding: 0.75rem;
    border-radius: 0.5rem;
    border-radius: 33px;
    box-shadow: 5px 5px 20px #aaa9a9,
        -5px -5px 20px #c9c8c8;
}

.loading {
    background-color: #aaa9a9;
    opacity: 0.2;
    transition: opacity 0.5s ease-in;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

.loaded {
    opacity: 1;
    transition: opacity 0.5s ease-in;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    background-color: #D2E0FB;
    border-radius: 15px;
    padding: 10px;
}

.loaded>div>p{
    word-break: break-all;
}

.loading-placeholder {
    color: grey;
    font-style: italic;
}

.suggestions-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.puff-in-center {
    -webkit-animation: puff-in-center 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation: puff-in-center 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@-webkit-keyframes puff-in-center {
    0% {
        -webkit-transform: scale(2);
        transform: scale(2);
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes puff-in-center {
    0% {
        -webkit-transform: scale(2);
        transform: scale(2);
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@media screen and (max-width: 670px) {
    .report-page {
        font-size: 0.8rem;
        padding: 20px;
    }

    .report-sections {
        gap: 1.5rem 0.5rem;
    }

    .total-score {
        padding: 15px;
        border-width: 3px;
    }

    .checklist {
        padding: 15px;
    }

    .readability,
    .estimated-time,
    .action-verb {
        padding: 8px;
    }

    .checklist-img {
        width: 16px;
    }
}